.card-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
 /* outline: 3px solid red ; */
 -webkit-overflow-scrolling: touch;
 -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.card {
  /* outline: 3px solid green ; */
  flex: 0 0 auto;
  width: 18rem;
  display: flex;
  flex-direction: column;
  /* margin: 1%; */
  padding: 2rem;
  border-radius: var(--radius);
  position: relative;
  transition: .3s all;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  box-sizing: border-box;
  color: white;
   
}
.card:hover {
  transform: scale(1.05);
}
.card h4{
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.card p{
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.btn{
  justify-self: flex-end;
  left: 2rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background: rgba(0,0,0,.2);
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius);
  transition: .3s all;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
}
.btn:hover{
  background: rgba(255,255,255,.8);
  color: #2e2e2e;
}
.btn-add{
  padding: 0.75rem 2rem;
  bottom: none;
  margin: 0;
  font-size: 1.2rem;
}

.btn-save{
  padding: 0.75rem 2rem;
  bottom: none;
}

.btn-bin{
  padding: 0.5rem 1.55rem;
  margin: 0rem 0rem 0.5rem 0rem;
}

.btn-detail{
 font-size: 0.8rem;
}
.btn-detail:hover{
  background: rgba(255,255,255,.8);
  color: #2e2e2e;
}

.btn-close{
  cursor: pointer;
  align-self: flex-end;  
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  border-radius: 10000px;
  transition: .3s all;
}
.btn-close:hover{
  color: #2e2e2e;
}

.btn-confirm{
  border: none;
  margin-right: 0.4rem;
  background: rgba(110, 223, 3, 0.8);
  color: white;
}

.btn-confirm:hover{
  transform: scale(1.05);
}

.btn-cancel{
  border: none;
  margin-right: 0.4rem;
  background: rgba(223, 3, 3, 0.8);
  color: white;
}

.btn-cancel:hover{
  transform: scale(1.05);
}

.pad-top{
  padding-top: 1rem;
}
.error{
  background: red;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin: 7px 0;
}


