.card-container{
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.card {
  flex: 0 0 auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 30px;
  border-radius: var(--radius);
  position: relative;
  transition: .3s all;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  box-sizing: border-box;
  color: white;
   
}
.card:hover {
  transform: scale(1.05);
}
.card h5{
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.card p{
  margin-bottom: 1rem;
}

.btn{
  justify-self: flex-end;
  left: 2rem;
  bottom: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background: rgba(0,0,0,.2);
  padding: 10px 20px;
  border-radius: 10000px;
  transition: .3s all;
  cursor: pointer;
  border: none;
  margin-right: 1rem;
}
.btn-detail{
 font-size: 0.8rem;
}
.btn-detail:hover{
  font-size: 0.8rem;
  background: rgba(255,255,255,.8);
  color: #2e2e2e;
}

.btn-close{
  cursor: pointer;
  align-self: flex-end;  
  text-decoration: none;
  color: white;
  background: none;
  border: none;
  border-radius: 10000px;
  transition: .3s all;
}
.btn-close:hover{
  color: #2e2e2e;
}

.btn-confirm{
  border: none;
  margin-right: 0.4rem;
  background: rgba(110, 223, 3, 0.8);
  color: white;
}

.btn-confirm:hover{
  transform: scale(1.05);
}

.btn-cancel{
  border: none;
  margin-right: 0.4rem;
  background: rgba(223, 3, 3, 0.8);
  color: white;
}

.btn-cancel:hover{
  transform: scale(1.05);
}

.pad-top{
  padding-top: 1rem;
}



