input:disabled {
  background: rgba(255,255,255,0.4);

  color: black;
}

select:disabled{
  background: rgba(255,255,255,0.4);
  color: black;
}

.job-det-cont{
  display: flex;
  justify-content: space-evenly;
}

.form-box {
  width: 100%;
  max-width: 800px;
  padding: 30px 15px;
  border-radius: var(--radius);
  background-color: var(--lime);
}
.form-label {
  display: inline-block;
  margin: .5rem 0;
  color: white;
  letter-spacing: .2px;
  font-size: 1rem;
}
.form-input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--clr-gray200);
  border-radius: 4px;
  background: rgba(255,255,255,0.4);
  color: #3d3935;
  outline: 0;
  font-size: 1.2rem;
}
fieldset {
  margin: .4rem 0;
  padding: 0;
  border: none;
}