input:disabled {
  color: black;
}

select:disabled{
  background: white;
  color: black;
}


.form-label {
  display: inline-block;
  margin: .5rem 0;
  color: white;
  letter-spacing: .2px;
  font-size: 1rem;
}
.form-input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--clr-gray200);
  border-radius: 4px;
  background: white;
  color: #3d3935;
  outline: 0;
  font-size: 1.2rem;
}
fieldset {
  margin: .4rem 0;
  padding: 0;
  border: none;
}

.pad-around{
  padding: 2rem;
}

.create-cont{
  justify-self: center;
  border-radius: var(--radius);
  max-width: 800px;
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}

.login-container{
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  border-radius: var(--radius);
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.btn-login{ 
  margin-top: 1rem;
}

.btn-login:hover{
  cursor: pointer;
  background-color: white;
  color: var(--purple);
}

.login-link{
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.login-option{
  margin-top: 1rem;
}