.nav-list{
  background-color: var(--dark);
  box-shadow: 0 0 10px var(--dark);
  margin: 0;
  padding: 1rem 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item{
  list-style: none;
  margin-right: 2rem;
  text-decoration: none;
  color: white;
}

.nav-item:hover{
  color: var(--red);
}

.nav-item:first-child{
  margin-right: auto;
  margin-left: 3rem;
}

.nav-item:last-child{
  margin-right: 3rem;
}

.nav-icon{
  display: flex;
  align-items: center;
}